<h2> Flappable Controller Interface </h2>
<button mat-button color="primary">All on</button>

<div class="cloth">
    <div class="flap" id="1">
        <div class="em" [class.active]="rtdb.user_values[0]" id="1a">1a / a</div>
        <div class="em" [class.active]="rtdb.user_values[1]" id="1b">1b / s</div>
    </div>
    <div class="flap" id="2">
        <div class="em" [class.active]="rtdb.user_values[2]" id="2a">2a / d</div>
        <div class="em" [class.active]="rtdb.user_values[3]" id="2b">2b / f</div>
    </div>
    <div class="flap" id="3">
        <div class="em" [class.active]="rtdb.user_values[4]" id="3a">3a</div>
        <div class="em" [class.active]="rtdb.user_values[5]" id="3b">3b</div>
    </div>
    <div class="flap" id="4">
        <div class="em" [class.active]="rtdb.user_values[6]" id="4a">4a</div>
        <div class="em" [class.active]="rtdb.user_values[7]" id="4b">4b</div>
    </div>
    <div class="flap" id="5">
        <div class="em" id="5a" [class.active]="rtdb.user_values[8]">5a</div>
        <div class="em" id="5b" [class.active]="rtdb.user_values[9]">5b</div>
    </div>
    <div class="flap" id="6">
        <div class="em" id="6a" [class.active]="rtdb.user_values[10]">6a</div>
        <div class="em" id="6b" [class.active]="rtdb.user_values[11]">6b</div>
    </div>
    <div class="flap" id="7">
        <div class="em" id="7a" [class.active]="rtdb.user_values[12]">7a</div>
        <div class="em" id="7b" [class.active]="rtdb.user_values[13]">7b</div>
    </div>
    <div class="flap" id="8">
        <div class="em" id="8a" [class.active]="rtdb.user_values[14]">8a</div>
        <div class="em" id="8b" [class.active]="rtdb.user_values[15]">8b</div>
    </div>
</div>